.action-bar {
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    padding-right: 20px;
    opacity: 0.2;
    transition: opacity 0.3s ease-in 0.1s;
}

.action-bar:hover {
    opacity: 1;
}

.action-bar button:first-of-type {
    margin-left: auto;
}

.action-bar button {
    margin-right: 10px;
    background-color: #df691a;
    color: #fff;
    border: 0;
    padding: 8px 12px;
    outline: none;
    cursor: pointer;
}

.action-bar button:hover {
    opacity: 0.9;
}
