.preview-wrapper {
    position: relative;
    height: 100%;
    flex: 1;
}

.preview-error {
    position: absolute;
    top: 10px;
    left: 10px;
    color: red;
    background-color: inherit;
}

iframe {
    background-color: wheat;
    height: 100%;
    width: 100%;
}

.react-draggable-transparent-selection .preview-wrapper::after {
    content: '';
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}
